
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    :root{
        --bodyBg:#fff;
        --formBg:#343F4B;
        --textColor:#0076A3;
        --primaryColor:#0076A3;
        --paraColor:#fff;
        --paraColor:#fff;
    
    }
    
    body{
        font-family: 'Roboto Serif', serif;
        color: var(--textColor);
        background-image:linear-gradient(348deg, transparent 0%, transparent 76%,rgba(194, 194, 194,0.04) 76%, 
        rgba(194, 194, 194,0.04) 93%,transparent 93%, transparent 100%),linear-gradient(150deg, transparent 0%,
         transparent 10%,rgba(194, 194, 194,0.04) 10%, rgba(194, 194, 194,0.04) 74%,transparent 74%, transparent 100%),linear-gradient(68deg, transparent 0%, 
         transparent 36%,rgba(194, 194, 194,0.04) 36%, rgba(194, 194, 194,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(199deg, transparent 0%,
          transparent 37%,rgba(194, 194, 194,0.04) 37%, rgba(194, 194, 194,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));;    }
    
    section{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        max-width: 550px;
        margin: auto;
        margin-top: 2em;
    }
    
    .sectionHeader{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--primaryColor);
        margin-bottom: .5em;
    }
    
    .heading,.sub-heading{
        margin-bottom: .5em;
        font-weight: bold;
    }
    
    .heading{
        font-size: 2.5em;
    }
    
    .sub-heading{
        text-align: left;
    }
    
    .contactForm{
        display: grid;
        gap: 3em;
    }
    
    form{
        width: 100%;
        margin-top: 3em;
    }
    
    .para{
        color: var(--paraColor);
        font-size: 1.1rem;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    
    .para2{
        text-align: left;
    }
    
    .input{
        width: 95%;
        max-width: 700px;
        border: none;
        font-size: .9rem;
        padding: 1em;
        outline: none;
        background-color: var(--formBg);
        color: var(--paraColor);
        border-radius: 10px;
        border: 1px solid rgb(53, 53, 53);
        margin-bottom: 1em;
    
    }
    
    .input:focus{
        border: 1px solid var(--primaryColor);
    }
    
    .input::placeholder{
        text-transform: capitalize;
    }
    
    .submit{
        background-color: var(--primaryColor);
        border: none;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
    }
    
    .map-container{
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    .mapBg{
        position: absolute;
        background-color: var(--primaryColor);
        top: 0;
        right: 0;
        width: 200px;
        height: 90%;
        border-radius: 20px;
    }
    
    .map{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 90%;
    }
    
    .map iframe{
        width: 100%;
        height: 100%;
    }
    
    .contactMethod{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        text-align: left;
    }
    
    .method{
        display: flex;
        align-items: center;
    }
    
    .contactIcon{
        font-size: 2rem;
        color: var(--primaryColor);
        width: 70px;
    }
    
    @media screen and (min-width:800px) {
        section{
            max-width: 1100px;
        }
        .contactForm{
            grid-template-columns: 1fr 1fr;
        }   
    
        .contactMethod{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    ::-webkit-scrollbar{
        width: 10px;
      }
      ::-webkit-scrollbar-track{
        background-color: #000;
      }
      ::-webkit-scrollbar-thumb{
        background: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%); ;
      border-radius: 10px;
      }
      